.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #ffeead;
}

html, body {
  box-sizing: border-box;
  background-color: #ffeead;
  height: 100%;
  padding: 10px;
  margin: 0px;
}

.container > div:nth-child(1n) {
  background-color: #96ceb4;	
}

.container > div:nth-child(3n) {
  background-color: #88d8b0;
}

.container > div:nth-child(2n) {
  background-color: #ff6f69;
}

.container > div:nth-child(4n) {
  background-color: #ffcc5c;
}


.container2 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #ffeead;
}

.container2 > div:nth-child(1n) {
  background-color: #96ceb4;	
}

.container2 > div:nth-child(3n) {
  background-color: #88d8b0;
}

.container2 > div:nth-child(2n) {
  background-color: #ff6f69;
}

.container2 > div:nth-child(4n) {
  background-color: #ffcc5c;
}

.title {
  color: #ff6f69;
  background-color: #ffeead;
  text-align: center;
  padding: 10px 0;
  margin: 0px;
}




p {
  color: #96ceb4;
  text-align: center;
}





.flexbox-header > div {
  display: flex;
  font-size: 1em;
  padding: 10px 20px;
}

.flexbox-header {
  background-color: #96ceb4;
  color: #ffeead;
}


.header {
    background-color: #96ceb4;	
}

.header :nth-child(2) {
    padding: 0 40px;
}

.menu {
    background-color: #ff6f69;
}

.content {
    background-color: #ffcc5c;
}

.footer {
    background-color: #88d8b0;
}

.grid-page > div {
    color: #ffeead;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}




.container > li {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: #ffeead;
  box-sizing: border-box;
  background-color: #96ceb4;
  list-style-type: none;
}


.container {
  padding: 0;
}
.search-input {
  background: #ff6e68;
  border: 0;
  width: 100%;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #ffeead;
  color: #ffeead;
}
::placeholder{
  color: #ffeead;
}

.search-input:focus {
  outline: none;
}

.container > li {
  background-color: #96ceb4;
}